/*My CSS Code*/
/*Head CSS*/
    *{
 font-family: Georgia
}
.header {
  background-image: url(https://i.ytimg.com/vi/ANAjF4UC5Ek/maxresdefault.jpg);
  background-position: center center;
  padding: 50px;
  height: 600px;
  width: 700px;
  margin: 0;
  
}

    h1 {
  color: green;
  background-color: black;
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
}

p { 
 color: darkgreen; font-size: 18px;
}
h1{ 
 color: green;
 font-size: 18px;
 padding: 10px;
 margin: 20px;
}
/*Body CSS*/
body {
  padding: 50px;
  margin: 20px;
  background: black;
