/*My CSS Code*/
/*Head CSS*/
    *{
 font-family: Georgia;
 margin: auto;
}
.header {
  background-image: url(https://i.ytimg.com/vi/ANAjF4UC5Ek/maxresdefault.jpg);
  background-position: center center;
  padding: 50px;
  height: 600px;
  width: 700px;
  margin: 10;
  
}

div{
   border-style: solid;
   color: light-gray;
}

    h1 {
  color: green;
  background-color: black;
  font-family: "Playfair Display", serif;
  font-size: 32px;
  padding-top: 100px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
  letter-spacing: 0.02em;
}

p { 
 color: darkgreen; font-size: 18px;
}
h2{ 
 color: black;
  
  font-family: 'Covered By Your Grace', sans-serif;
  font-size: 100px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: center;
  top: 20%;
}
/*Body CSS*/
body {
  padding: 50px;
  margin: 20px;
  background: url(http://moheban-ahlebeit.com/images/Japanese-Wallpaper/Japanese-Wallpaper-13.jpg) fixed no-repeat cover;
  
}
.content {
  padding: 40px;
}
